@import url('https://fonts.cdnfonts.com/css/sporting');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: white;
    scroll-behavior: smooth;
}

body {
    background-image: url('./assets/wallpaperflare.com_wallpaper\ \(1\).jpg');
    background-size: cover;
}

a {
    text-decoration: none;
}

header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50%;
    position: fixed; /* Adiciona essa propriedade */
    width: 100%; /* Garante que o cabeçalho ocupe toda a largura da tela */
    background-color: rgba(0, 0, 0, 0.7); /* Adiciona uma cor de fundo opcional */
    z-index: 1000;
}

.header{
    position: absolute;
    left: 100px;
}
.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.logo {
    width: 180px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_img {
    width: 90%;
    height: auto;
}

.logo_text {
    font-family: 'Sporting', sans-serif;
    font-size: 1.3rem;
    color: white;
    display: none;
}

.social_media {
    width: 130px;
    display: flex;
    justify-content: space-between;
}

i {
    font-size: 1.2rem;
}

i:hover {
    color: goldenrod;
}

.main_container {
    width: 100%;
    padding: 90px 10px 20px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-family: 'Sporting', sans-serif;
    margin-bottom: 20px;
    color: white;
    font-weight: 300;
}

.main_content {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.cards {
    width: 230px;
    height: 300px;
    padding: 5px;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    align-items: end;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
}

.cards:hover {
    transform: scale(1.02);
}

.character_name_bg {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.character_name {
    font-family: 'Sporting', sans-serif;
    color: white;
    font-size: 1rem;
}

.buttons {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

button {
    width: 70px;
    height: 25px;
    background-color: white;
    color: black;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #000;
    outline: none;
    transition: 0.3s;
}

button:hover {
    background-color: #000;
    color: white;
}

.scroll {
    width: 45px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 33%;
    right: 10px;
}

.Btn {
    width: 45px;
    height: 45px;
    background: linear-gradient(#ffffff, #39fad7);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: none;
}

.arrow path {
    fill: #0a816b;
}

.arrow_bot path {
    fill: #0a816b;
}

.btn_text {
    font-size: 0.7em;
    width: 100px;
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -18px;
    opacity: 0;
    transition-duration: .7s;
}

.Btn:hover .btn_text {
    opacity: 1;
    transition-duration: .7s;
}

.Btn:hover .arrow {
    animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#arrow_bot {
    transform: rotate(180deg);
}

.Btn:hover .arrow_bot {
    animation: slide-in-top .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(10px) rotate(180deg);
        opacity: 0;
    }

    100% {
        transform: translateY(0) rotate(180deg);
        opacity: 1;
    }
}

#back_button {
    visibility: hidden;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin: 40px 0 20px 0;
}

.footer_logo {
    font-family: 'Sporting', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.copyright {
    font-weight: 500;
}

.modal {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
}

.modal_content {
    width: 25vw;
    height: 70vh;
    box-shadow: 0 10px 15px -3px rgb(33, 243, 184), 0 4px 6px -4px rgba(33, 243, 205, 0.901);
    border-radius: 10px;
    background-color: #6bcc7d;
    background: linear-gradient(45deg, #04051d 0%, #2b6e5b 100%);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 30px 10px;
    align-items: center;
}

.character_image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: 50% 10%;
    background-size: cover;
}

.character_details {
    font-family: 'Sporting', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    color: white;
}

.container {
    position: absolute;
    right: 100px;
    --size-button: 40px;
    color: white;
}

.input {
    padding-left: var(--size-button);
    height: var(--size-button);
    font-size: 15px;
    border: none;
    color: #fff;
    outline: none;
    width: var(--size-button);
    transition: all ease 0.3s;
    background-color: #191A1E;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
    border-radius: 50px;
    cursor: pointer;
}

.input:focus,
.input:not(:invalid) {
    width: 200px;
    cursor: text;
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.input:focus+.icon,
.input:not(:invalid)+.icon {
    pointer-events: all;
    cursor: pointer;
}

.container .icon {
    position: absolute;
    width: var(--size-button);
    height: var(--size-button);
    top: 0;
    left: 0;
    padding: 8px;
    pointer-events: none;
}

.container .icon svg {
    width: 100%;
    height: 100%;
}




@media screen and (max-width: 768px) {

    .header{
        position: absolute;
        left: 20px;
    }

    .container{
        position: absolute;
        right: 20px;
    }

    .main_container{
        padding-left: 30px;
        padding-right: 30px;
    }

    .main_content {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 30px;
        padding-right: 30px;
    }

    .cards {
        width: 200px;
        height: 180px;
        /* Adjust height to fit more cards on small screens */
    }

    h2 {
        text-align: center;
        margin: 20px;
    }

    footer {
        position: relative;
        bottom: 1.4rem;
    }

    .buttons {
        width: 100%;
        justify-content: space-around;
    }

    .modal_content {
        width: 70vw;
        height: 50vh;
    }

    .btn_text {
        display: none;
    }
}

@media screen and (min-width: 810px) and (max-width: 1000px) {
    .main_container {
        display: block;
    }

    .scroll {
        display: none;
    }

    h2 {
        text-align: center;
        margin: 20px;
    }

    footer {
        position: relative;
        bottom: 1.4rem;
    }

    .buttons {
        width: 100%;
        justify-content: space-around;
    }

    .modal_content {
        width: 60vw;
        height: 50vh;
    }
}